.nav{
    padding: 16px;
    background: #f2f2f2;
    display: flex;
    gap:10px;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: #333;
}

.toggleBtn{
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}