.card{
    box-sizing: border-box;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.image{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.btn{
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}